<div id="nav-wrapper">
	<ul id="nav" class="retail_calender">
			<!--<li><a href="#" class="anallnk" title="Dashboard"><span>Dashboard</span></a></li>
			<li><a href="pepf.html" class="complnk" title="PEPF"><span>PEPF</span></a></li>
			<li><a href="calendar.html" class="marklnk" title="Calendar"><span>Calendar</span></a></li>
			<li><a href="season.html" class="repolnk" title="Season"><span>Season</span></a></li>
			<li><a href="plan.html" class="settlnk" title="Plan"><span>Plan</span></a></li>-->
			<li ng-class="activeMenu == 'retail' ? 'active' : ''"><a href="retail-calendar/retail-calendar.html" class="helplnk" title="{{languagePack.Retail_Calendar}}"><span ng-bind="languagePack.Retail_Calendar"></span></a></li>
	</ul>
</div>