<!--
<a class="link_plan active pull-left link_plan_pop">
	<i class="fa fa-link"></i>
</a>
-->
<a href="javascript:void(0)" title="{{languagePack.Edit}}" class="usr-edit pull-left">
	<i class="fa fa-pencil"></i>
</a>
<a href="javascript:void(0)" title="{{languagePack.Delete}}" class="usr-delete pull-left">
	<i class="fa fa-trash-o"></i>
</a>

<!--
<div id="plan_link_view" class="link_viewpop_block" style="display:none;">
	<div class="link_viewpop_box arrow_box">
		<div class="popview_block">
			<a href="javascript:void(0)" class="close_poplink" title="Close">
				<img src="images/close-btn.png">
			</a>
			<div class="popleft">
				<table class="col-md-12 table-bordered table-condensed cf pepf-data-table">
					<thead class="cf">
						<tr>
							<th width="6%" class="text-center">Select</th>
							<th width="22%">Code</th>
							<th width="12%">Name</th>
							<th width="32%" class="numeric">Description</th>
							<th width="14%" class="numeric">Type</th>
							<th width="14%" class="numeric">Frequency</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-title="Select" class="text-center">
								<input type="checkbox" name="select_check">
							</td>
							<td data-title="Code"><a href="javascript:void(0)" title="Fest 05">Fest 05</a></td>
							<td data-title="Name">Maha Kumbh</td>
							<td data-title="Description" class="numeric">Lorem Ipsum is simply dummy text</td>
							<td data-title="Type" class="numeric">Event</td>
							<td data-title="Frequency" class="numeric">Day</td>
						</tr>
						<tr>
							<td data-title="Select" class="text-center">
								<input type="checkbox" name="select_check">
							</td>
							<td data-title="Code"><a href="javascript:void(0)" title="Fest 05">Fest 05</a></td>
							<td data-title="Name">Maha Kumbh</td>
							<td data-title="Description" class="numeric">Lorem Ipsum is simply dummy text</td>
							<td data-title="Type" class="numeric">Festival</td>
							<td data-title="Frequency" class="numeric">Periodic</td>
						</tr>
						<tr>
							<td data-title="Select" class="text-center">
								<input type="checkbox" name="select_check">
							</td>
							<td data-title="Code"><a href="javascript:void(0)" title="Fest 05">Fest 05</a></td>
							<td data-title="Name">Maha Kumbh</td>
							<td data-title="Description" class="numeric">Lorem Ipsum is simply dummy text</td>
							<td data-title="Type" class="numeric">Festival</td>
							<td data-title="Frequency" class="numeric">Periodic</td>
						</tr>
						<tr>
							<td data-title="Select" class="text-center">
								<input type="checkbox" name="select_check">
							</td>
							<td data-title="Code"><a href="javascript:void(0)" title="Fest 05">Fest 05</a></td>
							<td data-title="Name">Maha Kumbh</td>
							<td data-title="Description" class="numeric">Lorem Ipsum is simply dummy text</td>
							<td data-title="Type" class="numeric">Event</td>
							<td data-title="Frequency" class="numeric">Day</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="popright">
				<ul class="popright_list">
					<li>
						<a href="javascript:void(0)" class="poplink sml_pepf" title="PEPF">PEPF</a>
					</li>
					<li>
						<a href="javascript:void(0)" class="poplink sml_cal" title="Calendar">Calendar</a>
					</li>
					<li class="active">
						<a href="javascript:void(0)" class="poplink sml_season" title="Season">Season</a>
					</li>
					<li>
						<a href="javascript:void(0)" class="poplink sml_plan" title="Plan">Plan</a>
					</li>
				</ul>
				<div class="unlonk_box">
					<a href="javascript:void(0)" class="poplink" title="Un-Link">Un-Link</a>
				</div>
			</div>
		</div>
	</div>
</div>
-->